.termos {
  display: flex;
  gap: 20px;
}

.termos a {
  cursor: pointer;
  transition: transform 0.5s;
  background-color: #dfdfdf;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  text-wrap: nowrap;
}

.termos a:hover {
  transform: scale(1.05);
}

.termos a {
  text-decoration: none;
  padding: 1rem;
}
